.height-95vh{
    height: 95vh;
    overflow: auto;
    position: relative;
}

.bg-light-blue{
    background-color: #dfdee8;
}

.btn-teal{
    background-color: #72ace8;
    border-color: #070633;
    color: #fff;
    font-weight: 600;
}