.height-95vh{
    height: 95vh;
    overflow: auto;
    position: relative;
}

.bg-light-blue{
    background-color: #dfdee8;
}

.btn-teal{
    background-color: #72ace8;
    border-color: #070633;
    color: #fff;
    font-weight: 600;
}

.p-1-5{
    padding: .3rem!important;
}

.btn-shadow{
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.275)!important;

}