<div class="card text-center">
  <div class="card-header font-italic font-weight-bold text-uppercase">
    News Details
  </div>
  <div class="card-body">
    <img src="{{ news?.urlToImage }}" class="img-fluid" alt="..." />
    <h5 class="card-title py-3 font-weight-bold">{{ news?.title }}</h5>
    <p class="card-text font-italic">{{ news?.description }}</p>
  </div>
  <a target="_blank" href="{{news.url}}">View On News Website</a>
  <div class="card-footer text-muted">
    Publish Date : {{ news?.publishedAt | date: "medium" }}
  </div>
</div>
