<div class="card text-center shadow-lg p-3 mb-5 bg-white rounded">
  <div class="card-header font-italic font-weight-bold text-uppercase">
    News Details
  </div>
  <div class="card-body">
    <img src="{{ newsDetailObject?.urlToImage }}" class="img-fluid" alt="..." />
    <h5 class="card-title py-3 font-weight-bold">{{ newsDetailObject?.title }}</h5>
    <p class="card-text font-italic">{{ newsDetailObject?.description }}</p>
  </div>
  <a target="_blank" href="{{newsDetailObject?.url}}">View On News Website</a>
  <div class="card-footer text-muted">
    Publish Date : {{ newsDetailObject?.publishedAt | date: "medium" }}
  </div>
</div>
